
.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
}


.details{
  
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 180px;
    justify-content: center;
    line-height: 1.1;

}

.details p{
    font-weight: 600;
    font-size: 100px;
    color: #171717;
    
}
.hero-hand-icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.details h1{
    font-size: 4.2rem;
    align-items: start;
    align-items: center;
    line-height: 1;
}
.details h1 img{
    height: 3.2rem;
    align-items: center;
}
.hero-latestbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
}


.banner{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}